<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
		<title>Personal Wedding Planner</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/weddings.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</html>
